anomalib==2.2.0
streamlit==1.37.1
torch==2.6.0
torchvision==0.21.0
opencv-python-headless
lightning==2.6.0
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
fpdf==1.7.2
scikit-learn==1.5.1
numpy==1.26.4
Pillow==10.4.0
